.container {
    font-size: 2.9vw;
}

.container div:first-of-type {
    text-align: center;
}

.container div:first-of-type *:not(p) {
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

.container div:first-of-type p::content {
    animation: fade 5s linear infinite,
                 translate 5s linear infinite;
}

hr{
    margin-top: 0;
    height: 2px;
    border: none;
    background-color: rgba(0,110,193,255);
}
.profileImage {
    background: linear-gradient(to right, rgba(245, 242, 242, 1) 30%, rgba(255, 255, 255, 0) 50%), url(../../assets/images/victor_ai_photo.png) no-repeat;
    background-position: top right;
    background-size: contain;
    min-height: 12em;
}

.bodyMainInfos{
    color:rgba(0,110,193,255);
    font-size: small;
    flex-direction: row !important;
    align-items: center !important;
}

.bodyMainInfos div{
    height: 1.5em;
    margin-inline: 1.5em;

}
.bodyMainInfos div img{
    height: 100%;
    align-self: flex-end !important;
    margin-inline:0.3em;
}


@media only screen and (max-width: 600px) {
    .container {
      display: flex;
      flex-direction: column-reverse !important;
    }
    .profileImage{
        margin:0 auto;
        margin-top: 1%;
        background:  url(../../assets/images/victor_ai_photo.png) no-repeat;
        background-position: center;
        background-size: contain;
        width:34%;

        border-radius: 50%;
    }
    .bodyMainInfos{
        font-size: 0.9em;
    }
    .bodyMainInfos span{
        font-size: 0.7em;
        width:100%;
    }

    .bodyMainInfos div{

        height: 6.5em;
        display: flex;
        flex-direction: column !important;
    }
    .bodyMainInfos div img{
        height: 30%;
        align-self: center !important;
        margin-inline:0.3em;
    }
    hr{
        width:96%;
        margin-inline-start: 2%;
    }
  }











@keyframes fade {
    0%,100% { opacity: 0  }
    10%,90% {opacity:1}
    5%,95% { opacity: 0  }
  }
  @keyframes translate {
    0%,100% { transform: translateX(-42px)  }
    10%,90% {transform :translateX(0px)}
    5%,95% { transform: translateX(42px)  }
  }